.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .blackjack, .chat {
    width: 48%; /* Blackjack ve sohbet bileşenleri arasında boşluk bırakmak için */
  }