/* Estilo para la clase btn-primary2 */
.btn-primary2 {
    -fx-background-color: #D3D3D3; /* Fondo gris claro */
    -fx-text-fill: #000000; /* Letra de color blanco */
    -fx-font-weight: normal; /* Letra normal */
    -fx-font-size: 20px; /* Tama単o de la letra normal */
    -fx-font-family: 'Times New Roman'; /* Tipo de fuente */
    -fx-border-color: #858585; /* Borde blanco */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-border-radius: 10px; /* Esquinas redondeadas */
    -fx-background-radius: 10px; /* Esquinas redondeadas del fondo */
}

/* Estilo para la clase btn-lg2 */
.btn-lg2 {
    -fx-background-color: #D3D3D3; /* Fondo gris claro */
    -fx-text-fill: #000000; /* Letra de color blanco */
    -fx-font-size: 16px; /* Tama単o de la fuente normal */
    -fx-font-weight: normal; /* Letra normal */
    -fx-font-family: 'Times New Roman'; /* Tipo de fuente */
    -fx-border-color: #858585; /* Borde blanco */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-border-radius: 10px; /* Esquinas redondeadas */
    -fx-background-radius: 10px; /* Esquinas redondeadas del fondo */
}

/* Estilo para la clase btn-lg2 */
.btn-lg3 {
    -fx-background-color: #D3D3D3; /* Fondo gris claro */
    -fx-text-fill: #000000; /* Letra de color blanco */
    -fx-font-size: 24px; /* Tama単o de la fuente normal */
    -fx-font-weight: normal; /* Letra normal */
    -fx-font-family: 'Times New Roman'; /* Tipo de fuente */
    -fx-border-color: #858585; /* Borde blanco */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-border-radius: 10px; /* Esquinas redondeadas */
    -fx-background-radius: 10px; /* Esquinas redondeadas del fondo */
}

/* Clase para el TextField */
.username-field {
    -fx-font-family: 'Times New Roman'; /* Tipo de fuente */
    -fx-prompt-text-fill: gray; /* Color del promptText (opcional) */
    -fx-font-size: 16px; /* Tama単o de fuente para el promptText */
}
