<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="container d-flex justify-content-center align-items-center text-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="mb-lg-5">
                <h1 class="display-1 roboto-font">
                    Let's Play
                </h1>
            </div>
            <div class="mb-4 mt-4">
                <div class="blackjack-bg">
                    <a href="/blackjack">
                        <h3 class="display-6">Black Jack ♣</h3>
                    </a>
                </div>
            </div>

            <div class="mb-4">
                <div class="poker-bg">
                    <a href="/poker">
                        <h3 class="display-6">Poker ♦</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>