.home-container {
    background-color: #fefefe;
    border-radius: 1rem;
    padding: 1rem;
    opacity: 0.8;
}

.roboto-font {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
}

.poker-bg {
    background-color: #F24822;
    border-radius: 1rem;
    padding: 1rem;
    opacity: 0.8;
    display: inline-block;
}

.poker-bg a{
    color: #fefefe;
    text-decoration: none;
}

.blackjack-bg {
    background-color: #14AE5C;
    border-radius: 1rem;
    padding: 1rem;
    opacity: 0.8;
    display: inline-block;
}

.blackjack-bg a{
    color: #fefefe;
    text-decoration: none;
}